<!DOCTYPE html>
<html>
<head>
  <title>ECM | Frontend</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= render 'frontend/flash' %>
<%= yield %>

</body>
</html>
